<% layout('layouts/boilerplate')%>

<h1>All Your Thoughts</h1>
<div>
    <a href="/blogs/new">Add a Thought</a>
</div>
<% for (let blog of blogs){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=blog.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title %> </h5>
                <p class="card-text"><%= blog.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= blog.mood%></small>
                </p>
                <a class="btn btn-primary" href="/blogs/<%=blog._id%>">View <%=blog.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>