<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= blog.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title%></h5>
                <p class="card-text"><%= blog.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= blog.mood%></li>
                <li class="list-group-item">Submitted by <%= blog.author.username%></li>
            </ul>
            <%  if( currentUser && blog.author.equals(currentUser._id))  {%>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/blogs/<%=blog._id%>/edit">Edit</a>
                <form class="d-inline" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <div class="col-6">
        <h2>Add your Comment Here</h2>
        <form action="/blogs/<%=blog._id%>/comments" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for(let comment of blog.comments) { %>
        <div class="card mb-3 ">
            <div class="card-body">
                <p class="card-text">Comment: <%= comment.body %></p>
                <form action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>